In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [80]:
class MyLogisticRegression:
    def __init__(self, alpha = 0.001, iterations = 10000):
        self.alpha = alpha
        self.iterations = iterations
        self.w = None
        
    def sigmoid(self, x):
        return 1.0 / (1 + np.exp(-x))
    
    def fit(self, X, Y):
        n_samples, n_features = X.shape
        self.w = np.zeros(n_features)
        for i in range(self.iterations):
            z = np.dot(X, self.w)
            h = self.sigmoid(z)
            diff = h - Y
            gradient = np.dot(X.T, diff) / n_samples
            self.w = self.w - self.alpha * gradient
            
    def predict(self, X):
        z = np.dot(X, self.w)
        h = self.sigmoid(z)
        return np.where(h >= 0.5, 1, 0)

In [81]:
df = pd.read_csv('exams.csv')
df = df.sample(len(df)).copy()
df_train = df[:90].copy()
df_test = df[90:].copy()
df_copy = df_train.copy()

In [82]:
df

       exam_1     exam_2  admitted
79  82.226662  42.719879         0
37  64.176989  80.908061         1
65  66.560894  41.092098         0
54  50.286496  49.804539         0
15  53.971052  89.207350         1
..        ...        ...       ...
32  52.107980  63.127624         0
97  99.315009  68.775409         1
34  40.236894  71.167748         0
7   75.024746  46.554014         1
80  88.913896  69.803789         1

[100 rows x 3 columns]

In [83]:
inputs = np.array([np.ones(len(df)), df['exam_1'], df['exam_2']]).T

In [84]:
df_train['exam_1'] = (df_train['exam_1'] - df_train['exam_1'].min())/(df_train['exam_1'].max() - df_train['exam_1'].min())
df_train['exam_2'] = (df_train['exam_2'] - df_train['exam_2'].min())/(df_train['exam_2'].max() - df_train['exam_2'].min())

In [85]:
inputs = np.array([np.ones(len(df_train)), df_train['exam_1'], df_train['exam_2']]).T
y = df_train['admitted']

In [86]:
model = MyLogisticRegression()

In [87]:
df_test['exam_1'] = (df_test['exam_1'] - df_copy['exam_1'].min())/(df_copy['exam_1'].max() - df_copy['exam_1'].min())
df_test['exam_2'] = (df_test['exam_2'] - df_copy['exam_2'].min())/(df_copy['exam_2'].max() - df_copy['exam_2'].min())

In [88]:
X = df_test[['exam_1', 'exam_2']]

# y = df_test['admitted']

In [89]:
model.fit(inputs, y)

In [90]:
model.predict(df_test)

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1])