# 1

Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [1]:
import pandas as pd
ds = pd.Series([1, 2, 3, 4, 5])
print(ds)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# 2
Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [9]:
import pandas as pd
ds = pd.Series([1, 2, 3, 4, 5])
print(ds, end='\n\n')
print(type(ds), end='\n\n')
print(ds.tolist(), end='\n\n')
print(type(ds.tolist()), end='\n\n')

0    1
1    2
2    3
3    4
4    5
dtype: int64

<class 'pandas.core.series.Series'>

[1, 2, 3, 4, 5]

<class 'list'>

# 3
Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [14]:
import pandas as pd
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([6, 7, 3, 4, 5])
sum_ds = ds1 + ds2
sub_ds = ds1 - ds2
mul_ds = ds1 * ds2
div_ds = ds1/ds2
print("Adding two series \n")
print(sum_ds, end='\n\n')
print("Subtracting two series \n")
print(sub_ds, end='\n\n')
print("Multiplying two series \n")
print(mul_ds, end='\n\n')
print("Dividing two series \n")
print(div_ds, end='\n\n')

Adding two series

0     7
1     9
2     6
3     8
4    10
dtype: int64

Subtracting two series

0   -5
1   -5
2    0
3    0
4    0
dtype: int64

Multiplying two series

0     6
1    14
2     9
3    16
4    25
dtype: int64

Dividing two series

0    0.166667
1    0.285714
2    1.000000
3    1.000000
4    1.000000
dtype: float64

# 4
 Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [15]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print(ds1 > ds2, end = '\n\n')
print(ds1 < ds2, end = '\n\n')
print(ds1 == ds2, end = '\n\n')

0     True
1     True
2     True
3     True
4    False
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

0    False
1    False
2    False
3    False
4     True
dtype: bool

# 5
Write a Pandas program to convert a dictionary to a Pandas series.

In [17]:
import pandas as pd
d1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print(d1, end = '\n\n')
s1 = pd.Series(d1)
print(s1)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 6
Write a Pandas program to convert a dictionary to a Pandas series.

In [18]:
import numpy as np
import pandas as pd
np_array = np.array([1, 2, 3, 4, 5])
print(np_array, end = '\n\n')
s1 = pd.Series(np_array)
print(s1)

[1 2 3 4 5]

0    1
1    2
2    3
3    4
4    5
dtype: int32

# 7
Write a Pandas program to change the data type of given a column or a Series.

In [28]:
import pandas as pd
s1 = pd.Series(['1', '2', 'Arif', 3, 4, 5])
new_s1 = pd.to_numeric(s1, errors='coerce')
print(new_s1)

0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
5    5.0
dtype: float64

# 8
Write a Pandas program to convert the first column of a DataFrame as a Series.

In [41]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 7, 8, 9], 'col3': [10, 11, 12, 13, 14, 15]}
df = pd.DataFrame(d)
print(df)
s1 = df.iloc[:, 0]

   col1  col2  col3
0     1     4    10
1     2     5    11
2     3     6    12
3     4     7    13
4     7     8    14
5    11     9    15
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

# 9
Write a Pandas program to convert a given Series to an array.

In [44]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
print(s1, end='\n\n')
print(s1.values)

0    1
1    2
2    3
3    4
4    5
dtype: int64

[1 2 3 4 5]

# 10
Write a Pandas program to convert Series of lists to one Series.

In [54]:
import pandas as pd
s1 = pd.Series([[1, 2], [3, 4], [5, 6]])
print(s1, end='\n\n')
print(s1.apply(pd.Series).stack().reset_index(drop=True))

0    [1, 2]
1    [3, 4]
2    [5, 6]
dtype: object

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64