In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

class LinearRegression:
    def __init__(self, alpha=0.001, iterations=10000):
        self.alpha = alpha
        self.iterations = iterations
        self.w = None
    
    def fit(self, X, y):
        n_samples, n_features = X.shape
        print(f"X.shape is {X.shape}")
        self.w = np.zeros(n_features)  
        print(f"w.shape is {self.w.shape}")
        for i in range(self.iterations):
            h = X.dot(self.w)
            diff = h - y
            gradient = (1/n_samples) * diff.T.dot(X)
            self.w = self.w - self.alpha * gradient
        print(f"diff.shape is {diff.shape}")
        print(f"gradient.shape is {gradient.shape}\n")
        return self.w
    
    def predict(self, X):
        return X.dot(self.w)
    
def applyAZN(col):
    lst = col.split()
    if 'AZN' in col:
        return float(lst[0])
    if '$' in col:
        return float(lst[0]) * 1.7
    return 0

    
model = LinearRegression(alpha=0.001, iterations=100000)
    
df = pd.read_csv('../5th_Lesson/data/turboaz.csv')
df = df[['Buraxilish ili', 'Qiymet']].copy()
df2 = df.copy()
df['Qiymet'] = df['Qiymet'].apply(applyAZN)
df2['Qiymet'] = df2['Qiymet'].apply(applyAZN)
df['Buraxilish ili'] = (df['Buraxilish ili'] - df['Buraxilish ili'].mean()) / df['Buraxilish ili'].std()
df['Qiymet'] = (df['Qiymet'] - df['Qiymet'].mean())/df['Qiymet'].std()

# x0 = np.ones(len(df))
x0 = np.ones(12)

# inputs = np.array([x0, df['Buraxilish ili']]).T 
    
# outputs = df['Qiymet']

inputs = np.array([x0, [1, 5, 7, 3, 6, 5, 4, 3, 7, 5, 2, 1]]).T
outputs = [7, 15, 19, 11, 17, 15, 13, 11, 19, 15, 9, 7]
    
final_coef = model.fit(inputs, outputs)

print(final_coef)

# print(model.predict(inputs))

X.shape is (12, 2)
w.shape is (2,)
diff.shape is (12,)
gradient.shape is (2,)

[4.99999997 2.00000001]

In [71]:
df['Qiymet']

0      -0.191676
1       2.815558
2      -0.250282
3      -0.396798
4      -0.177024
          ...
1323   -0.462730
1324   -0.645874
1325   -0.308888
1326   -0.279585
1327   -0.338191
Name: Qiymet, Length: 1328, dtype: float64

In [72]:
df2['Prediction'] = (final_coef[0] * 1 + final_coef[1] * ((df2['Buraxilish ili'] - df2['Buraxilish ili'].mean())/df2['Buraxilish ili'].std())) * df2.Qiymet.std() + df2.Qiymet.mean()

In [73]:
df2

      Buraxilish ili   Qiymet    Prediction
0               1999  12500.0  13155.579715
1               2014  53550.0  47121.341524
2               2002  11700.0  19948.732077
3               1998   9700.0  10891.195594
4               2000  12700.0  15419.963835
...              ...      ...           ...
1323            1996   8800.0   6362.427353
1324            1994   6300.0   1833.659112
1325            1998  10900.0  10891.195594
1326            2000  11300.0  15419.963835
1327            1996  10500.0   6362.427353

[1328 rows x 3 columns]

In [74]:
df2['Buraxilish ili'].min()

1989